{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": true,
      "modules": "commonjs",
      "loose": true,
      "debug": false
    }]
  ],
  "plugins": ["transform-decorators"],
  "comments": false
}